body{
  background-color: #DFDFDF;
}

.menu-container{
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: auto;
}

.menu-container span{
  color: #402E2A;
  display: inline-block;
  height: auto;
  width: 100px;
  line-height: 30px;
  position: relative;
  padding: 10px auto;
  font-weight: bold;
}

.menu-container .site_logo img{
  width: 20%;
  background: transparent;
  text-align: center;
}

.banner .video-container{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow:hidden;
  z-index: -100;
}

.banner .video-info{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  margin: auto;
}

.navbar-toggle .icon-bar{
  display: block;
  width: 22px;
  height: 2px;
  background: #ffffff;
}

.navbar-toggle .icon-bar + .icon-bar{
  margin-top: 4px;
}


/*span a:hover{
  color: #FFD400;
  cursor: pointer;
  font-size: 100px;
}*/
.navbar-default .navbar-nav>li>a:hover {
	color: red;
	transform: scale(1.4);
}
.navbar-default  {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border: none;
	background: rgba(0, 0, 0, 0.3);
}
.navbar-default .navbar-nav>li>a {
	color: #ffffff;
}
