body{
  background-color: #DFDFDF;
}

.menu-container{
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: auto;
}

.menu-container span{
  color: #402E2A;
  display: inline-block;
  height: auto;
  width: 100px;
  line-height: 30px;
  position: relative;
  padding: 10px auto;
  font-weight: bold;
}

.menu-container .site_logo img{
  width: 50%;
  background: transparent;
  text-align: center;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #FFD400;
	transform: scale(1.4);
}

.video-container{
  top: 0;
  right: 0;
  left: 0;
  overflow:hidden;
  z-index: -100;
}
.video-info{
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.navbar-toggle .icon-bar{
  display: block;
  width: 22px;
  height: 2px;
  background: #ffffff;
}

.navbar-toggle .icon-bar + .icon-bar{
  margin-top: 4px;
}

.navbar-default  {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border: none;
	background: rgba(0, 0, 0, 0.3);
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
  padding-left: 50px;
  font-size: 0.5em;
}

.navbar-toggle{
  position: relative;
  z-index: 99999;
}

.home-information-benefits .text h2{
  line-height: 0.85em;
  margin-bottom: 5px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 3.5em;
  text-transform: uppercase;
}

.home-information-benefits .text p{
  line-height: 1.25em;
  font-size: 1.8em;
  display: block;
}

.home-information-benefits .btn{
  margin-top: 20px;
}
.text .btn{
  font-weight: 600;
  padding: 3px 8px;
  box-shadow: none;
  color: #000000;
  cursor: pointer;
  text-align: center;

}

.text .btn .btn-white{
  background-color: #ffffff;
}

.home-information{
  text-align: center;
  padding: 65px 0 35px;
  background: #cbcbcb url(/img/InformationBackground.jpg) center center no-repeat;
  background-size: cover;
}

.home-information .home-information-benefits{
  background-position: center right;
  background-size: 30%;
  max-width: 1400px;
  margin: auto;
  background-color: #FFC319;
  background-image: url(/img/InformationBenefitsBackground.jpg);
  background-repeat: no-repeat;
  background-clip: content-box;

}

.home-information .container-fluid{
  padding-left: 15px;
  padding-right: 15px;
}

.home-information .home-information-benefits .benefits ul{
  padding: 80px 0 ;
  margin-top: 0;
  margin-bottom: 10px;
}

.home-information .home-information-benefits .benefits ul li{
  display: inline-block;
  height: 3%;
  width: 75px;

}
.home-information-benefits .benefits .list-unstyled img{
  padding-top: 5px;
  padding-left: 5px;
  width: 75px;
}
