body{
  background-color: #DFDFDF;
}
.menu-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: auto;
  z-index: 9999;
}

.menu-container span{
  color: #402E2A;
  display: inline-block;
  height: auto;
  width: 100px;
  line-height: 30px;
  position: relative;
  padding: 10px auto;
  font-weight: bold;
}

.menu-container .site_logo img{
  width: 50%;
  background: transparent;
  text-align: center;
}
.underline_menu {
  position: relative;
  height: 3px;
  width: auto;
  background: yellow;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #FFD400;
	transform: scale(1.2);
}
.navbar-default .navbar-nav>li:hover .underline_menu {
  opacity: 1;
}
.video-container{
  top: 0;
  right: 0;
  left: 0;
  overflow:hidden;
  z-index: -100;
}
.video-info{
  min-width: 100%;
  min-height: 100%;
}

.navbar-toggle .icon-bar{
  display: block;
  width: 22px;
  height: 2px;
  background: #ffffff;
}

.navbar-toggle .icon-bar + .icon-bar{
  margin-top: 4px;
}

.navbar-default  {
  position: absolute;
	left: 0;
	right: 0;
	border: none;
	background: rgba(0, 0, 0, 0.3);
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
  padding: 30px 30px;
  font-size: 1.5em;
  transition: all 0.3s ease-in-out;
}

.navbar-toggle{
  position: relative;
  z-index: 99999;
}

.home-information-benefits .text h2{
  line-height: 0.85em;
  margin-bottom: 5px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 3.5em;
  text-transform: uppercase;
  margin-top: 70px;
}

.home-information-benefits .text p{
  line-height: 1.25em;
  font-size: 1.8em;
  display: block;
  margin-left: 30px;
}

.home-information-benefits .btn{
  margin-top: 20px;
}

.home-information-benefits .text a{
  background-color: #ffffff;
}
.text .btn{
  font-weight: 600;
  padding: 3px 8px;
  box-shadow: none;
  color: #000000;
  cursor: pointer;
  text-align: center;
  bottom: 0;
}
.home-information{
  position: relative;
  text-align: center;
  padding: 65px 0 35px;
  background: #cbcbcb url(/img/InformationBackground.jpg) center center no-repeat;
  background-size: cover;
}

.home-information .home-information-benefits{
  position: relative;
  background-position: center right;
  background-size: 30%;
  max-width: 1400px;
  height: 382px;
  margin: auto;
  background-color: #FFC319;
  background-image: url(/img/InformationBenefitsBackground.jpg);
  background-repeat: no-repeat;
  background-clip: content-box;
}

.home-information .container-fluid{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
}

.home-information .home-information-benefits .benefits ul{
  position: absolute;
  top: 120px;
  padding: 5px 0 ;
  margin-top: 20px;
  margin-bottom: 10px;
}

.home-information .home-information-benefits .benefits ul li{
  position: relative;
  display: inline-block;
  height: auto;
  width: auto;
}
.home-information-benefits .benefits .list-unstyled img{
  padding-top: 5px;
  padding-left: 5px;
  width: 75px;
  margin-left: 15px;
}

div.pop-up {
  display: none;
  position: absolute;
  width: 280px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  border: none;
  border-radius: 20px;
  font-size: 100%;
  bottom: 80px;
  left: -100px;
}

.pop-up h3{
  font-family: 'Gloria Hallelujah', cursive;
}

.slogan {
  position: absolute;
  right: 0;
  left: 0;
  top: 220px;
  font-size: 60px;
  line-height: 3em;
  font-family: 'Gloria Hallelujah', cursive;
  text-shadow: 0 0 20px black;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 1225px){
  .navbar-default .navbar-nav>li>a {
  	color: #ffffff;
    padding: 30px 20px;
    font-size: 1.2em;
  }
  .home-information-benefits .benefits .list-unstyled img{
    padding-top: 5px;
    padding-left: 5px;
    width: 70px;
    margin-left: 10px;
  }
}
@media (max-width: 1100px){
  .home-information-benefits .benefits .list-unstyled img{
    padding-top: 5px;
    padding-left: 5px;
    width: 60px;
    margin-left: 10px;
  }
}
@media (max-width: 970px){
  .home-information-benefits .benefits .list-unstyled img{
    padding-top: 5px;
    padding-left: 5px;
    width: 50px;
    margin-left: 10px;
  }

  .home-information-benefits .text h2 {
    line-height: 0.75em;
    margin-bottom: 5px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3em;
    text-transform: uppercase;
    margin-top: 70px;
  }

  .home-information-benefits .text p {
    line-height: 1.1em;
    font-size: 1.5em;
    display: block;
    margin-left: 30px;
  }
}
@media (max-width: 927px){
  .navbar-default .navbar-nav>li>a {
  	color: #ffffff;
    padding: 30px 15px;
    font-size: 1em;
  }
}
@media (max-width: 868px){
  .home-information-benefits .benefits .list-unstyled img{
    padding-top: 5px;
    padding-left: 5px;
    width: 45px;
    margin-left: 5px;
  }
}
@media (max-width: 768px){

  .home-information .home-information-benefits .benefits ul{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    padding: 5px 0 ;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .slogan {
    top: 140px;
    font-size: 48px;
  }

  .menu-container{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: auto;
    height: 150px;
  }
  .navbar-default  {
    position: absolute;
  	left: 0;
  	right: 0;
  	border: none;
  	background: #000000;
    height: 150px;
  }
  .menu-container .site_logo img{
    width: 150px;
    background: transparent;
    text-align: center;
    float: left;
  }
  .header-menu button {
    position: absolute;
    right: 10px;
    top: 70px;
    background: #ffffff;
    border: none;
  }
  .nav.navbar-nav.navbar-collapse {
    position: absolute;
    right: 15px;
    top: 140px;
    width: 200px;
    border: none;
    background: rgba(0, 0, 0, 0.3);
  }
  .navbar-default .nav.navbar-nav.navbar-collapse>li>a:hover {
  	color: #FFD400;
    transform: scale(1);
  }
  .video-container{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    overflow:hidden;
    z-index: -100;
  }
  .video-info{
    min-width: 100%;
    min-height: 100%;
  }
}
@media (max-width: 469px){
  .home-information-benefits .text h2 {
    line-height: 0.75em;
    margin-bottom: 5px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2.4em;
    text-transform: uppercase;
    margin-top: 60px;
  }
  .home-information-benefits .text p {
    line-height: 1.1em;
    font-size: 1.2em;
    display: block;
    margin-left: 30px;
  }
  .home-information .home-information-benefits .benefits ul{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 0 ;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
@media (max-width: 380px){
  .home-information .home-information-benefits .benefits ul{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .home-information-benefits .benefits .list-unstyled img{
    padding-top: 5px;
    width: 45px;
  }
  .home-information .home-information-benefits{
    position: relative;
    background-position: center right;
    background-size: 30%;
    max-width: 1400px;
    height: 500px;
    margin: auto;
    background-color: #FFC319;
    background-image: url(/img/InformationBenefitsBackground.jpg);
    background-repeat: no-repeat;
    background-clip: content-box;
  }
}
@media (max-width: 380px){
  .home-information-benefits .text h2 {
    line-height: 1em;
    margin-bottom: 5px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.7em;
    text-transform: uppercase;
    margin-top: 50px;
  }
  .home-information-benefits .text p {
    line-height: 1.2em;
    font-size: 1em;
    display: block;
    margin-left: 30px;
  }
  .home-information .home-information-benefits{
    position: relative;
    background-position: center right;
    background-size: 30%;
    max-width: 1400px;
    height: 600px;
    margin: auto;
    background-color: #FFC319;
    background-image: url(/img/InformationBenefitsBackground.jpg);
    background-repeat: no-repeat;
    background-clip: content-box;
  }
}
.home_container {
  position: relative;
  background: #ffffff;
  text-align: center;
  height: auto;
}
.home_container h3 {
  padding: 5px 0;
  line-height: 30px;
  font-size: 25px;
}
.home_container span {
  color: #FFD400;
  font-weight: bold;
  font-family: 'Gloria Hallelujah', cursive;
}

.home_container .text{
  font-family: 'Gloria Hallelujah', cursive;
}
.home_container .item_home_container img {
  width: 80%;
}
.home_container .item_home_container .text {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}


.chat_button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: transparent;
  border-radius: 100%;
  border: none;
}

.chat_button:active,
.chat_button:focus{
  outline: 0 none;
}
.chat_button img {
  width: 100px;
  height: 100px;
}

.map_container {
  position: relative;
}
.map_container .slogan_map {
  padding: 50px 0px;
  font-size: 3em;
  text-align: center;
  font-family: cursive;
  color: #ffffff;
  background: #82FA58;
}
.map_container .slogan_map span {
  font-size: 1.2em;
  color: #000000;
}
.map_container .over_map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.map_container .map iframe{
  width: 100%;
}


.home-product{
  position: relative;
  background-position: center;
  max-width: 1400px;
  height: 682px;
  margin: auto;
  background-image: url(/img/RecipesBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
}

.home-product .title h2{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 50px;
}

.home-product .title p{
  font-size: 25px;
}

.home-product .home-product-info img{
  max-width: 400px;
  margin-left: 15px;
  margin-top: 50px;
  border: 20px solid #ffffff;
}

/*---------------------------*/
.homes-information{

  position: relative;
  text-align: center;
  background-image: url(/img/InformationBackground.jpg);
  background-size: cover;
  height: 500px;

}

.homes-information .homes-information-benefits{

  position: relative;
  background-position: center right;
  background-size: 100%;
  max-width: 1500px;
  height: 400px;
  margin: auto;
  /*background-color: #FFC319;*/
/*background:  url(/img/background.jpg);*/
  background-repeat: no-repeat;
  background-clip: content-box;

}

.homes-information .container-fluid{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.homes-information-benefits .text_buy h3 {
  line-height: 1em;
  margin-bottom: 5px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 3em;
  text-transform: uppercase;
  padding-bottom: 15px;

}

.homes-information-benefits .text p {
  line-height: 1.1em;
  font-size: 1.5em;
  display: block;
  margin-left: 30px;
}
.row .benefit_container{
  position: relative;
  background-position: center right;
  background-size: 100%;
  max-width: 570px;
  height: 400px;
  margin: auto;
}
.benefit_container .buy_container{
  position: relative;
  max-width: 570px;
  height: 450px;
  background-image:  url(/img/home_buy.png);
  border-radius: 8%;
  margin-top: 40px;
}
.benefit_container .buy_container img{
position: relative;
 width: 500px;
height: 400px;

}
.homes-information-benefits .row .text{
  margin-top: 50px;
}
.homes-information-benefits .row .text .btn{
  background:
}
.profile_wrapper input[type=text]{
  border-radius: 0;
  padding-right: 23px;
  background-color: #f5f5f5;
  border: 2px solid #c49b2c;
  border-radius: 2px;
  line-height: 34px;
}
.tel input[type=tel]{
  border-radius: 0;
  padding-right: 23px;
  background-color: #f5f5f5;
  border: 2px solid #c49b2c;
   line-height: 32px;
}
.profile_group .tel{
  margin-top: 11px;

}

.adress input[type=adress]{
  border-radius: 0;
  padding-right: 23px;
  background-color: #f5f5f5;
  border: 2px solid #c49b2c;
  line-height: 32px;

}
.profile_group .adress{
  margin-top: 11px;

}

.profile_group .message textarea{
  background-color: #f5f5f5;
  border: 2px solid #c49b2c;
  line-height: 20px;
  width: 512px;
}
.profile_group .message{
  margin-top: 20px;

}
h5 {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}
h5 {
    font-family: "Roboto Slab", Arial, Tahoma, sans-serif;
    font-weight: 700;
}

.homes-information-benefits .text h2 {
  line-height: 2em;
  margin-bottom: 5px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 4em;
  text-transform: uppercase;

}
.homes-information-benefits .text p {
  line-height: 1.5em;
  font-size: 2.5em;
  display: block;
  margin-left: 30px;

}
.profile_group button{
  background: #000000;
  margin-top: 15px;
  width: 150px;
  height: 50px;
  border-radius: 15%;
  background-image: url(/img/button.png);
  background-position:top;


}
.profile_group a{
  color: #ffffff;
}
